<h1>Recent Chats</h1>
<form class="form-inline">
  <div class="form-group">
    <label for="query">Search</label>
    <input type="text" class="form-control" id="query" placeholder="User Name" ng-model="query">
  </div>
    <div class="form-group">
    <label for="sortby">Sort by</label>
    <select ng-model="orderProp" class="form-control" id="sortby">
      <option value="username">Name</option>
      <option value="meta.age">Age</option>
    </select>
  </div>
</form>

<div class="bs-callout bs-callout-info" ng-repeat="chat in chats | filter:query | orderBy:orderProp" id="history_{{chat.chat_id}}">
  <div class="media">
  <div class="media-left" ng-if="true == chat.chat_icon">
    <img class="media-object" ng-src="../uploads/chat_{{chat.chat_id}}/icon?dim=64" alt="{{chat.chat_icon}}">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{chat.recipients|toString}}
        <button type="button" class="btn btn-primary" ng-click="redirect('chat/'+chat.chat_id)">Chat</button>
        <button type="button" class="btn btn-danger" ng-click="deleteChat(chat.chat_id)">Delete</button>
    </h4>
    <p>
        <strong>{{chat['last_mesg'] ['creator_id']}}</strong>:
        {{chat['last_mesg'] ['message']}} -
        <small><i>{{chat['last_mesg'] ['created_at']|theDate}}</i></small>
    </p>
  </div>
  </div>
  <!--<h4></h4>
  <p></p>-->
</div>

<ng-include src="tplSidebar"></ng-include>