<h1>Update Password</h1>
<form id="passwordForm" name="userForm" ng-submit="updatePassword('{{user.uname}}')" novalidate>
<div class="form-group" ng-class="{ 'has-error' : (userForm.$submitted || userForm.old_passwd.$touched) && userForm.old_passwd.$invalid }">
  <label for="old_passwd">Old Password</label>
  <input name="old_passwd" type="password" class="form-control" id="old_passwd" placeholder="Type your Old Password" ng-model="user.old_passwd" required ng-minlength="3" ng-maxlength="8">
  <div ng-show="userForm.$submitted || userForm.old_passwd.$touched">
  <p ng-show="userForm.old_passwd.$error.required" class="help-block">Your password is required.</p>
  <p ng-show="userForm.old_passwd.$error.minlength" class="help-block">Password is too short.</p>
  <p ng-show="userForm.old_passwd.$error.maxlength" class="help-block">Password is too long.</p>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : (userForm.$submitted || userForm.new_passwd.$touched) && userForm.new_passwd.$invalid }">
  <label for="new_passwd">New Password</label>
  <input name="new_passwd" type="password" class="form-control" id="new_passwd" placeholder="Type New Password" ng-model="user.new_passwd" required ng-minlength="3" ng-maxlength="8">
  <div ng-show="userForm.$submitted || userForm.new_passwd.$touched">
  <p ng-show="userForm.new_passwd.$error.required" class="help-block">New password is required.</p>
  <p ng-show="userForm.new_passwd.$error.minlength" class="help-block">New password is too short.</p>
  <p ng-show="userForm.new_passwd.$error.maxlength" class="help-block">New password is too long.</p>
  </div>
</div>
<button type="submit" class="btn btn-primary" id="btn_submit" ng-disabled="userForm.$invalid">Submit</button>
<button type="button" class="btn btn-default" id="btn_goback" ng-click="redirect('home')">Go Back</button>
</form>

<ng-include src="tplSidebar"></ng-include>