<h1>Update Password</h1>
<form id="passwordForm" ng-submit="updatePassword('{{user.uname}}')">
<div class="form-group">
  <label for="old_passwd">Old Password</label>
  <input type="password" class="form-control" id="old_passwd" placeholder="Type your Old Password" ng-model="user.old_passwd">
</div>
<div class="form-group">
  <label for="new_passwd">New Password</label>
  <input type="password" class="form-control" id="new_passwd" placeholder="Type New Password" ng-model="user.new_passwd">
</div>
<button type="submit" class="btn btn-primary" id="btn_submit" >Submit</button>
<button type="button" class="btn btn-default" id="btn_goback" ng-click="redirect('home')">Go Back</button>
</form>

<ng-include src="tplSidebar"></ng-include>