<h1>All Users</h1>
<form class="form-inline">
  <div class="form-group">
    <label for="query">Search</label>
    <input type="text" class="form-control" id="query" placeholder="User Name" ng-model="query">
  </div>
    <div class="form-group">
    <label for="sortby">Sort by</label>
    <select ng-model="orderProp" class="form-control" id="sortby">
      <option></option>
      <option value="username">Name</option>
      <option value="meta.age">Age</option>
    </select>
  </div>
</form>

<div class="bs-callout bs-callout-info" ng-repeat="user1 in users | filter:query | orderBy:orderProp" ng-if="user1.username !== user.uname">
  <div class="media">
  <div class="media-left" ng-if="true == user1.has_picture">
    <img class="media-object" ng-src="../uploads/{{user1.username}}/mypicture?dim=64" alt="{{user1.username}}">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{user1.name}}</h4>
    
    <p>
    <span ng-if="user1.meta.age">{{user1.meta.age}},</span>
    <span ng-if="user1.location">{{user1.location}}</span>
    </p>
    
    <div ng-if="user['uname'] !== user1['username']">
    <button type="button" class="btn btn-success" ng-click="addContact(user1.username)" ng-if="user['contacts'].indexOf(user1.username) < 0">Add</button>
    <button type="button" class="btn btn-danger" ng-click="removeContact(user1.username)" ng-if="user['contacts'].indexOf(user1.username) > -1">Remove</button>
    <button type="button" class="btn btn-danger" ng-click="deleteUser(user1.username)" ng-if="true == user.is_admin">Delete User</button>
    </div>
  </div>
  </div>
  <!--<h4></h4>
  <p></p>-->
</div>

<div ng-if="nextUrl">
  <button class="btn btn-primary" ng-click="nextPage()" style="display: block; width: 100%;">More</button>
</div>

<ng-include src="tplSidebar"></ng-include>